<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Actividades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/styles/catppuccin.css}">
    <link rel="stylesheet" th:href="@{/styles/custom.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <header th:fragment="header">
        <h1>Portal de Actividades</h1>
        <nav>
            <a th:href="@{/}">Home</a>
        </nav>
    </header>
    <footer th:fragment="footer">
        <p>Portal de Actividades. Oscar Garrido O. AppsWeb 2025</p>
    </footer>
</body>
</html>
