.vcenter {
    display: flex;
    align-items: center;
    height: 100%;
}
.hcenter {
    display: flex;
    justify-content: center;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.clickable {
    cursor: pointer;
}
.clickable:hover {
    background-color: var(--ctp-latte-overlay0);
}
.small-image {
    width: 320px;
    height: 240px;
}
.large-image {
    width: 800px;
    height: 600px;
}