@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

.btn {
  background-color: #339989;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn:hover {
  background-color: #7de2d1;
}

body {
  font-family: "Readex Pro", Helvetica, sans-serif;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}

img {
  width: auto;
  height: 100px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 5px;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
  align-items: center;
}


.main-container {
  width: 95%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.block {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 1%;
}

.half-block {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 1%;
}
