<!DOCTYPE html>
<html lang="es">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% block css %}{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/catppuccin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
  <header>
    <h1>Portal de Actividades</h1>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('agregar') }}">Crear Actividad</a>
      <a href="{{ url_for('listado') }}">Ver Actividades</a>
      <a href="{{ url_for('estadisticas') }}">Estadisticas</a>
    </nav>
  </header>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <footer>
      <p>Portal de Actividades. Oscar Garrido O. AppsWeb 2025</p>
  </footer>
  
  {% block javascript %}
  {% endblock %}
</body>

</html>