<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% block css %}{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>

<body>
  <div class="navbar">
    <h1>Portal de Actividades</h1>
    <a class="navbar-page" href="{{ url_for('index') }}">Home</a>
  </div>
  <div class="main-container">
    {% block content %}{% endblock %} {% block javascript %}{% endblock %}
  </div>
</body>

</html>