{% extends "base.html" %}

{% block title %}Estadisticas{% endblock %}

{% block main %}
<h2>Estadisticas</h2>

<h3>Actividades por Dia de la Semana</h3>
<canvas id="weekday-chart"></canvas>

<h3>Horario Actividades por Mes</h3>
<canvas id="time-chart"></canvas>

<h3>Actividades por Tipo</h3>
<canvas id="activity-chart"></canvas>

<a class="button" href="{{ url_for('index') }}">Volver al Inicio</a>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='scripts/stats.js') }}"></script>
{% endblock %}