{% extends "base.html" %}

{% block title %}Estadisticas{% endblock %}

{% block main %}
<h2>Estadisticas</h2>

<div id="day-chart" style="width:100%; height:400px;"></div>

<div id="topic-chart" style="width:100%; height:400px;"></div>

<div id="time-chart" style="width:100%; height:400px;"></div>

<a class="button" href="{{ url_for('index') }}">Volver al Inicio</a>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='scripts/stats.js') }}"></script>
{% endblock %}