{% extends 'base.html' %}

{% block title %}Portal de Actividades{% endblock %}
{% block main %}

<h2>Ultimas 5 Actividades</h2>

<table id="activity-table">
  <tr>
    <th>Inicio</th>
    <th>Termino</th>
    <th>Comuna</th>
    <th>Sector</th>
    <th>Tema</th>
    <th>Foto</th>
  </tr>
  {% if actividades %}
  {% for actividad in actividades %}
  <tr>
    <td>actividad</td>
    <td>actividad</td>
    <td>actividad</td>
    <td>actividad</td>
    <td>actividad</td>
    <td>actividad</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="6"> No hay actividades </td>
  </tr>
  {% endif %}
</table>
<a class="button" href="{{ url_for('agregar') }}">Agregar actividad</a>
<a class="button" href="{{ url_for('listado') }}">Ver listado</a>
{% endblock %}