{% extends "base.html" %}

{% block title %}Actividad{% endblock %}

{% block main %}

<h2>Informacion Actividad</h2>

<h3>Donde?</h3>

<p><strong>Region:</strong> {{ activity.region }}</p>
<p><strong>Comuna:</strong> {{ activity.commune }}</p>
{% if activity.sector %}
<p><strong>Sector:</strong> {{ activity.sector }}</p>
{% endif %}

<h3>Quien?</h3>
<p><strong>Organizador:</strong> {{ activity.name }}</p>
<p><strong>Email:</strong> {{ activity.email }}</p>
{% if activity.phone %}
<p><strong>Telefono:</strong> {{ activity.phone }}</p>
{% endif %}
{% if activity.contacts %}
<p><strong>Contactos:</strong></p>
<ul>
  {% for contact in activity.contacts %}
  <li><strong>{{ contact.name }}:</strong> {{ contact.id }}</p>
    {% endfor %}
</ul>
{% endif %}

<h3>Cuando?</h3>

<p><strong>Inicio:</strong> {{ activity.start }}</p>
{% if activity.end %}
<p><strong>Termino:</strong> {{ activity.end }}</p>
{% endif %}

<h3>Que?</h3>

<p><strong>Tema:</strong> {{ activity.topic }}</p>
{% if activity.description %}
<p><strong>Descripcion:</strong> {{ activity.description }}</p>
{% endif %}


<p><strong>Fotos:</strong></p>
<figure>
  {% for photo in activity.photos %}
  <div class="small-image-container">
    <img class="clickable small-image" src="{{ photo }}" alt="Foto {{ loop.index }}" onclick="showPreview(this);">
  </div>
  {% endfor %}
</figure>


<dialog id="preview-dialog">
  <img class="large-image" src="{{ activity.photos[0] }}" id="preview-photo" alt="Foto Preview" >
  <button id="close-preview" onclick="closePreview();">Cerrar</button>
</dialog>

<a class="button" href="{{ url_for('index') }}">Volver al Inicio</a>
<a class="button" href="{{ url_for('listado') }}">Volver al Listado</a>

<h4>Comentarios</h4>

<form id="comment-form">
  <label for="comment-name">Nombre:</label>
  <input type="text" name="name" id="comment-name" minlength="3" maxlength="80" placeholder="Escribe tu nombre aquí..." required>
  <label for="comment-text">Escribe tu comentario:</label>
  <textarea name="comment" id="comment-text" rows="4" cols="50" minlength="5" placeholder="Escribe tu comentario aquí..."></textarea>
  <button type="submit" onclick="validateAndSubmitComment();">Agregar Comentario</button>
</form>

<div id="comments-container"></div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='scripts/validation.js') }}"></script>
<script>
  const activityId = JSON.parse(`{{ activity.id|tojson }}`);
</script>
<script src="{{ url_for('static', filename='scripts/activityInfo.js') }}"></script>
{% endblock %}
