{% extends "base.html" %}

{% block title %}Actividad{% endblock %}

{% block main %}
<div class="center">
  <h2>Informacion Actividad</h2>

  <h3>Donde?</h3>
  <p>
    <strong>Comuna:</strong> {{ activity.commune }}<br>
    <strong>Sector:</strong> {{ activity.sector }}<br>
    {% if activity.sector %}
    <strong>Sector:</strong> {{ activity.sector }}<br>
    {% endif %}
  </p>
  <h3>Quien?</h3>
  <p>
    <strong>Organizador:</strong> {{ activity.name }}<br>
    <strong>Email:</strong> {{ activity.email }}<br>
    <strong>Telefono:</strong> {{ activity.phone }}<br>

    {% if activity.contacts %}
    <strong>Contactos:</strong><br>
    {% for contact in activity.contacts %}
    <strong>{{ contact.name }}: </strong> {{ contact.id }}<br>
    {% endfor %}
    {% endif %}
  </p>
  <h3>Cuando?</h3>
  <p>
    <strong>Inicio:</strong> {{ activity.start }}<br>
    <strong>Termino:</strong> {{ activity.end }}<br>

  </p>
  <h3>Que?</h3>
  <p>
    <strong>Tema:</strong> {{ activity.topic }}<br>
    {% if activity.description %}
    <strong>Descripcion:</strong> {{ activity.description }}<br>
    {% endif %}
  </p>

  {% if activity.photo %}
  <strong>Foto:</strong><br>
  <img src="{{ url_for('static', filename=activity.photo) }}" alt="Foto" class="small-image">
  {% endif %}
  <strong>Fotos:</strong><br>
  {% for foto in activity.photos %}
  <img class="clickable" src="{{ url_for('static', filename=foto) }}" alt="Foto {{ loop.index }}" class="small-image"
    onclick="document.getElementById('image-preview').showModal();">
  {% endfor %}
  </p>
</div>

<dialog id="image-preview">
  <img src="images/activity0.webp" alt="Foto" class="large-image">
  <button id="image-preview" onclick="document.getElementById('image-preview').close();">Close</button>
</dialog>

<a class="button" href="{{ url_for('index') }}">Volver al Inicio</a>
<a class="button" href="{{ url_for('listado') }}">Volver al Listado</a>

{% endblock %}