{% extends "base.html" %}

{% block title %}Actividad{% endblock %}

{% block main %}

<h2>Ultimas Actividades</h2>
<div class="hcenter">
<table id="activity-table">
  <tr>
    <th>Inicio</th>
    <th>Termino</th>
    <th>Comuna</th>
    <th>Sector</th>
    <th>Tema</th>
    <th>Nombre Organizador</th>
    <th>Total Fotos</th>
  </tr>

  {% if activities %}
  {% for activity in activities %}
  <tr class="clickable" onclick="window.location.href='{{ url_for('actividad') }}/{{ activity.id }}';">
    <td>{{ activity.start }}</td>
    <td>{{ activity.end }}</td>
    <td>{{ activity.commune }}</td>
    <td>{{ activity.sector }}</td>
    <td>{{ activity.topic }}</td>
    <td>{{ activity.name }}</td>
    <td><img src="{{ activity.photo }}" alt="Foto"></td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="7">
      <p class="hcenter">No hay actividades</p>
    </td>
  </tr>
  {% endif %}
</table>
</div>

<a class="button" href="{{ url_for('index') }}">Volver al Inicio</a>
{% endblock %}

{% block javascript %}
{% endblock %}